.label{
    display: block;
}
.profile{
    display: block;
}

.profileIcon{
    color: #c32723;
}
@media only screen and (max-width: 640px) {
    .label{
        display: block;
        font-size: 0px;
    }
}