.menuContainer--mainMenu .menuItem{
    margin: 5px 0px;
    margin: 5px 0px;
    max-height: 45px;
}

.styledLinkContent--mainSubmenu{
    color: #fff;
}

.styledLinkContainer--mainSubmenu{
    max-height: 45px;
    padding: 0.8rem;
}

.submenuWrapper{
    width: 100%;
}

.menuContainer--mainsubmenu .menuItem{
    border: none;
}

.submenuWrapper--allSubmenuBlock{
    left: -50%
}

.menuContainer--institutionals{
    margin: 0px 10px;
    font-size: 8px;
    padding: 7px 0px;
}


