.containerImg {
  background-color: #fff;
}

.containerImg .img--mainCarousel{
  max-width: 1520px;
} 

.imgRegular--mainCarousel{
  max-width: 1200px;
  margin: 0px auto;
}

.dot{
  height: 20px;
  width: 20px;
}

.activeDot{
  background-color: #73b2af;
}