.title{
    font: lighter 9px/0px Open, sans-serif;
    font-size: 25px;
    text-align: left;
    display: block;
    color: #000;
}

.arrowRight , .arrowLeft{
    background: #cecece;
    border-radius: 30px;
    padding: 5px;
}

.caretIcon--sizes{
    width: 15px;
    height: 15px;
}

.relatedProducts .title{
    display: none;
}

/* .relatedProducts--sizes :global(.justify-center){
    justify-content: left;
} */

.container{
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0px auto;
}

.relatedProducts.relatedProducts--sizes .title--sizes{
    display: block;
    font-size: 14px;
    color: #767273;
    padding: 0px;
    font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
}
.title--sizes::after{
    display: none
}
.title--sizes::before{
    display: none
}

.container{
    padding-bottom: 40px;
}

@media only screen and (max-width: 640px) {
    .title{
        font-size: 25px;  
    }
    .arrowRight--sizes{
        margin-right: 0px;
    }
    
    .arrowLeft--sizes{
        margin-left: 0px;
    }
}
